html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html .slick-dots {
  list-style: none;
  text-align: center;
}

html .slick-dots button {
  font-size: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: none;
  padding: 0;
}

html *,
html *::after *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html body {
  font-size: 16px;
  line-height: 19px;
  color: #1b1818;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
  position: relative;
}

html body a {
  text-decoration: none;
}

html body .container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

html body .header {
  background-color: #28425e;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

html body .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

html body .header__inner .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .header__inner .logo__link {
  width: 100px;
}

html body .header__inner .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .header__inner .menu__btn {
  display: none;
}

html body .header__inner .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .header__inner .menu__list .menu__item {
  margin: 0 15px;
}

html body .header__inner .menu__list .menu__item .menu__list-link {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  color: #fefefe;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

html body .header__inner .menu__list .menu__item .menu__list-link:hover {
  border-bottom: 1px solid #446f9d;
  color: #446f9d;
}

html body .header__inner .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: #fefefe;
}

html body .main {
  padding-bottom: 100px;
}

html body .main__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 150px 0 30px;
}

html body .main__heading .main__content {
  text-align: center;
  padding-top: 30px;
  width: 50%;
}

html body .main__heading .main__content .main__title {
  font-size: 48px;
  font-family: "Fira Sans", sans-serif;
  line-height: 58px;
  font-weight: 500;
  margin: 0 auto 20px;
  max-width: 600px;
}

html body .main__heading .main__content .main__text {
  font-size: 24px;
  line-height: 28px;
  margin: 0 auto 60px;
  max-width: 500px;
}

html body .main__heading .main__content .app-btn {
  text-transform: uppercase;
  color: #fefefe;
  background-color: #446f9d;
  padding: 15px 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid transparent;
  cursor: pointer;
}

html body .main__heading .main__content .app-btn:hover {
  color: #446f9d;
  background-color: #fefefe;
  border: 1px solid #446f9d;
}

html body .main__heading .main__slider {
  width: 50%;
}

html body .main__heading .main__slider .slick-dots {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

html body .main__heading .main__slider .slick-dots button {
  background-color: #1b1818;
}

html body .main__heading .main__slider .slick-active button {
  width: 16px;
  height: 16px;
}

html body .main__heading .main__slider .main__slider-item .main__slider-text {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
  text-align: center;
}

html body .main__heading .main__slider .main__slider-item .main__slider-text span + span {
  padding-left: 12px;
}

html body .main__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

html body .main__bottom .main__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  text-align: center;
}

html body .main__bottom .main__items .main__item {
  border: 1px solid #1b1818;
  padding: 12px;
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

html body .main__bottom .main__items .main__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

html body .main__bottom .main__links {
  text-align: center;
  width: 50%;
}

html body .main__bottom .main__links .main__link {
  color: #1b1818;
  border-bottom: 1px solid #1b1818;
  text-align: center;
}

html body .main__bottom .main__links .main__link + .main__link {
  margin-left: 20px;
}

html body .rent {
  background-color: #e1e8f1;
  padding: 100px 0px;
  border-top: 1px solid #28425e;
  border-bottom: 1px solid #28425e;
}

html body .rent .rent__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .rent .rent__inner .rent__content {
  width: 300px;
}

html body .rent .rent__inner .rent__content .rent__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  font-family: "Fira Sans", sans-serif;
  margin-bottom: 30px;
}

html body .rent .rent__inner .rent__content .rent__text {
  margin-bottom: 20px;
}

html body .rent .rent__inner .rent__content .rent__text + .rent__text {
  margin-bottom: 40px;
}

html body .rent .rent__inner .rent__content .app-btn {
  text-transform: uppercase;
  color: #fefefe;
  background-color: #446f9d;
  padding: 15px 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid transparent;
  cursor: pointer;
}

html body .rent .rent__inner .rent__content .app-btn:hover {
  color: #446f9d;
  background-color: #fefefe;
  border: 1px solid #446f9d;
}

html body .rent .rent__inner .rent__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

html body .rent .rent__inner .rent__items .rent__item {
  margin: 0px 0px 0px 50px;
  border: 1px solid #1b1818;
  max-width: 250px;
  min-height: 350px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 35px 20px;
}

html body .rent .rent__inner .rent__items .rent__item .rent__item-bigNum {
  font-size: 96px;
  line-height: 115px;
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
  opacity: 5%;
}

html body .rent .rent__inner .rent__items .rent__item .rent__item-condition {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
  padding: 0px 0px 30px;
}

html body .rent .rent__inner .rent__items .rent__item .rent__item-text {
  color: inherit;
}

html body .advantages {
  padding: 100px 0px;
}

html body .advantages .advantages__title {
  font-family: "Fira Sans", sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  margin-bottom: 50px;
}

html body .advantages .advantages__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .advantages .advantages__items .advantages__list {
  max-width: 300px;
  list-style: none;
  padding-right: 10px;
}

html body .advantages .advantages__items .advantages__list .advantages__list-item {
  text-align: right;
  margin-bottom: 27px;
  padding-right: 26px;
  position: relative;
}

html body .advantages .advantages__items .advantages__list .advantages__list-item:nth-child(1), html body .advantages .advantages__items .advantages__list .advantages__list-item:nth-child(7) {
  margin-right: 0;
}

html body .advantages .advantages__items .advantages__list .advantages__list-item:nth-child(2), html body .advantages .advantages__items .advantages__list .advantages__list-item:nth-child(6) {
  margin-right: 47px;
}

html body .advantages .advantages__items .advantages__list .advantages__list-item:nth-child(3), html body .advantages .advantages__items .advantages__list .advantages__list-item:nth-child(5) {
  margin-right: 100px;
}

html body .advantages .advantages__items .advantages__list .advantages__list-item:nth-child(4) {
  margin-right: 147px;
}

html body .advantages .advantages__items .advantages__list .advantages__list-item::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #28425e;
  right: 0;
  top: 3px;
}

html body .advantages .advantages__items .advantages__image {
  color: inherit;
}

html body .advantages .advantages__items .advantages__content {
  width: 300px;
  text-align: right;
}

html body .advantages .advantages__items .advantages__content .advantages__text {
  margin-bottom: 30px;
}

html body .advantages .advantages__items .advantages__content .video-popup {
  text-transform: uppercase;
  color: #fefefe;
  background-color: #446f9d;
  padding: 6px 34px 6px 64px;
  text-align: center;
  display: inline-block;
  position: relative;
  border: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

html body .advantages .advantages__items .advantages__content .video-popup::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(../images/icon-play.svg);
  color: #fefefe;
  top: 12px;
  left: 34px;
}

html body .advantages .advantages__items .advantages__content .video-popup:hover {
  color: #446f9d;
  background-color: #fefefe;
  border: 1px solid #446f9d;
}

html body .advantages .advantages__items .advantages__content .video-popup:hover:before {
  -webkit-filter: invert(23%) sepia(5%) saturate(4962%) hue-rotate(171deg) brightness(96%) contrast(94%);
          filter: invert(23%) sepia(5%) saturate(4962%) hue-rotate(171deg) brightness(96%) contrast(94%);
}

html body .reviews {
  background-color: #28425e;
  padding: 100px 0px;
}

html body .reviews__inner {
  color: #fefefe;
}

html body .reviews__inner .reviews__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 70px;
  font-family: "Fira Sans", sans-serif;
}

html body .reviews__inner .reviews__slider {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html body .reviews__inner .reviews__slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 35px;
}

html body .reviews__inner .reviews__slider .slick-dots button {
  margin: 0 5px;
  background-color: #446f9d;
  line-height: 12px;
}

html body .reviews__inner .reviews__slider .slick-active button {
  width: 16px;
  height: 16px;
}

html body .reviews__inner .reviews__slider .reviews__item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 270px;
  min-height: 300px;
  border: 1px solid #446f9d;
  padding: 45px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px 15px;
}

html body .reviews__inner .reviews__slider .reviews__item .reviews__item-name {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
  padding-bottom: 45px;
}

html body .reviews__inner .reviews__slider .reviews__item .reviews__item-text {
  color: #fefefe;
}

html body .feedback__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
}

html body .feedback__inner .feedback__title {
  font-size: 24px;
  margin-bottom: 5px;
}

html body .feedback__inner .feedback__text {
  margin-bottom: 50px;
}

html body .feedback__inner .feedback__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #1b1818;
  width: 100%;
  padding: 20px 0px 20px;
  color: #1b1818;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
}

html body .feedback__inner .feedback__input::-webkit-input-placeholder {
  color: #1b1818;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
}

html body .feedback__inner .feedback__input:-ms-input-placeholder {
  color: #1b1818;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
}

html body .feedback__inner .feedback__input::-ms-input-placeholder {
  color: #1b1818;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
}

html body .feedback__inner .feedback__input::placeholder {
  color: #1b1818;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
}

html body .feedback__inner .feedback__input + .feedback__input {
  margin-bottom: 50px;
}

html body .feedback__inner .feedback__btn {
  text-transform: uppercase;
  color: #fefefe;
  background-color: #446f9d;
  padding: 15px 36px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid transparent;
  cursor: pointer;
}

html body .feedback__inner .feedback__btn:hover {
  color: #446f9d;
  background-color: #fefefe;
  border: 1px solid #446f9d;
}

html body .footer {
  background-color: #28425e;
}

html body .footer__inner {
  padding: 75px 0 24px;
}

html body .footer__inner .footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .footer__inner .footer__items .app-btn {
  text-transform: uppercase;
  color: #fefefe;
  background-color: #446f9d;
  padding: 15px 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid transparent;
  cursor: pointer;
}

html body .footer__inner .footer__items .app-btn:hover {
  color: #446f9d;
  background-color: #fefefe;
  border: 1px solid #446f9d;
}

html body .footer__inner .footer__items .menu__list {
  color: #fefefe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .footer__inner .footer__items .menu__list .menu__item {
  margin: 0 15px;
}

html body .footer__inner .footer__items .menu__list .menu__item .menu__list-link {
  color: #fefefe;
}

html body .footer__inner .footer__items .phone {
  color: #fefefe;
}

html body .footer__inner .social {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body .footer__inner .social .social__list-link {
  font-size: 30px;
  padding: 0 15px;
  color: #446f9d;
}

@media (max-width: 1200px) {
  html body .main__bottom .main__items {
    width: 100%;
  }
  html body .main__bottom .main__links {
    width: 100%;
    margin-top: 20px;
  }
  html body .rent .rent__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  html body .rent .rent__inner .rent__content {
    width: 90%;
    text-align: center;
  }
  html body .rent .rent__inner .rent__items {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  html body .rent .rent__inner .rent__items .rent__item {
    margin-left: 0px;
  }
  html body .advantages__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  html body .advantages__items .advantages__image {
    width: 60%;
  }
}

@media (max-width: 1100px) {
  html body .main__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  html body .main__heading .main__content {
    width: 100%;
  }
  html body .main__heading .main__slider {
    padding-top: 30px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  html body .main__heading .main__slider-item {
    width: 100%;
  }
  html body .main__heading .main__slider-item .main__slider-images {
    display: block;
    margin: 0 auto;
    max-width: 80%;
  }
  html body .main__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  html body .advantages__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  html body .advantages__items .advantages__list {
    padding-right: 0px !important;
  }
  html body .advantages__items .advantages__image {
    width: 50%;
  }
  html body .advantages__items .advantages__content {
    width: 80% !important;
    margin-top: 30px;
  }
  html body .feedback__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  html body .feedback__inner .feedback__image {
    display: none;
  }
}

@media (max-width: 920px) {
  html body .main {
    padding: 80px 0;
  }
  html body .rent {
    padding: 80px 0;
  }
  html body .rent .rent__inner .rent__items .rent__item {
    margin: 10px 26px;
    max-width: 600px;
    min-height: 300px;
  }
  html body .footer__inner .footer__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  html body .footer__inner .footer__items .menu {
    margin-right: 80px;
  }
  html body .footer__inner .footer__items .menu .menu__list {
    display: block;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
  }
  html body .footer__inner .footer__items .menu .menu__list .menu__item {
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  html body .header__inner .phone {
    margin-right: 80px;
  }
  html body .header .menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    z-index: 100;
  }
  html body .header .menu__btn {
    display: block;
    width: 40px;
    height: 30px;
    border: none;
    border-top: 4px solid #fefefe;
    border-bottom: 4px solid #fefefe;
    background-color: transparent;
    position: relative;
  }
  html body .header .menu__btn::before {
    content: "";
    background-color: #fefefe;
    position: absolute;
    width: 40px;
    height: 4px;
    left: 0px;
    top: 9px;
  }
  html body .header .menu__list {
    display: block;
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
    background-color: #28425e;
    text-align: center;
    -webkit-transform: translateY(-600px);
            transform: translateY(-600px);
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: -100 !important;
    padding: 20px 0;
  }
  html body .header .menu__list-link {
    padding: 20px 0;
    display: block;
  }
  html body .header .menu__list--active {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  html body .main__bottom .main__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  html body .footer__inner .footer__items .menu {
    display: none;
  }
}

@media (max-width: 600px) {
  html body .main__bottom .main__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  html body .main__bottom .main__items .main__item {
    margin: 10px 20px;
  }
  html body .advantages .advantages__items .advantages__list .advantages__list-item {
    text-align: left;
    padding-left: 26px;
  }
  html body .advantages .advantages__items .advantages__list .advantages__list-item:nth-child(4) {
    margin-right: 0;
  }
  html body .advantages .advantages__items .advantages__list .advantages__list-item::after {
    left: 0;
  }
  html body .advantages .advantages__items .advantages__image {
    width: 80%;
  }
}

@media (max-width: 500px) {
  html body .header .menu__list {
    top: 80px;
  }
  html body .header__inner {
    height: 80px;
  }
  html body .main .main__heading {
    padding: 50px 0 30px;
  }
  html body .main .main__content .main__title {
    font-size: 44px;
  }
  html body .main .main__content .main__text {
    font-size: 20px;
  }
  html body .main__bottom .main__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  html body .main__bottom .main__items .main__item {
    width: 100%;
    margin: 30px;
  }
  html body .main__bottom .main__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  html body .main__bottom .main__links .main__link {
    margin-bottom: 10px;
  }
  html body .rent .rent__inner .rent__items .rent__item {
    margin: 10px 20px;
  }
  html body .footer__inner .footer__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  html body .footer__inner .footer__items .phone {
    margin: 20px;
  }
}
/*# sourceMappingURL=style.css.map */